@import "vendor/bootstrap-grid/grid";
@import "vendor/font-awesome/scss/font-awesome";

/* start color variable */
$white: #FFFFFF;
/* end color variable */

/* start alignments */
.alignleft {
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* end alignments */

/* start captions */
.wp-caption {
	margin-bottom: 1.5em;
    max-width: 100%;
    img[class*="wp-image-"] {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .wp-caption-text {
        margin: 0.8075em 0;
    }
}

.wp-caption-text {
	text-align: center;
}
/* end captions */

/* start gallery */
.gallery {
    margin-bottom: 1.5em;
    .gallery-item {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 100%;
        .gallery-caption {
            display: block;
        }
    }
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
/* end gallery */

/* start screen reader */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
    &:focus {
        background-color: #f1f1f1;
        border-radius: 3px;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        clip: auto !important;
        clip-path: none;
        color: #21759b;
        display: block;
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: bold;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000;
    }
}
/* end screen reader */

/* start post and comment */
.sticky {
	display: block;
}

.bypostauthor {
	display: block;
}
/* end post and comment */

body {
    background-color: $white;
}